head
{
    margin-left: 20px;
}

body{
    background-color: rgb(197, 192, 199);
}

header{
    text-indent: 1%;
    height: 40px;
    width: 100%;    
    background-color: black; 
    margin-right: 10px; 
            
    color: rgb(247, 239, 239);
}
button{
    border: 120px rgb(95, 167, 95);
    border-radius: 5px;
    color: rgb(12, 12, 12);
    background-color: rgb(55, 224, 168);
    margin: 10px;
    font-size: large;
    box-shadow: inset;
}  
div {
  background-color: lightgrey;
  width: 300px;
  border: 2px solid rgb(79, 167, 79);
  padding: 20px;
  margin: 20px;
}

.Shop{
    width: 1300px;
    text-align:center;
}
.laptopsPriceClass{
   position: relative;
}
.laptopsSection{
   position: relative; left: 1000px; bottom: 450px; 
   width: 50%;
}
.workSection{
    position: relative; left: 500px; bottom: 200px;
}
.joeBankerSection{
    position: relative; top: 40px;

}
.buyMenu{
    width: fit-content;
    position: relative; bottom: 400px;
}